* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
label {
   font-weight:bold;
   width:100px;
   font-size:14px;
}
.box {
   border:#666666 solid 1px;
}

.login {
   width: 400px;
   background-color: #ffffff;
   box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
   margin: 100px auto;
}
.login h1 {
   text-align: center;
   color: #5b6574;
   font-size: 24px;
   padding: 20px 0 20px 0;
   border-bottom: 1px solid #dee0e4;
}
.login form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 20px;
}
.login form label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   background-color: #4CAF50;
   color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
   width: 310px;
   height: 50px;
   border: 1px solid #dee0e4;
   margin-bottom: 20px;
   padding: 0 15px;
}
.login form input[id="btn"] {
   width: 100%;
   padding: 15px;
   margin-top: 20px;
   background-color: #4CAF50;
   border: 0;
   cursor: pointer;
   font-weight: bold;
   color: #ffffff;
   transition: background-color 0.2s;
}

.register {
   width: 400px;
   background-color: #ffffff;
   box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
   margin: 100px auto;
}
.register h1 {
   text-align: center;
   color: #5b6574;
   font-size: 24px;
   padding: 20px 0 20px 0;
   border-bottom: 1px solid #dee0e4;
}
.register form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 20px;
}
.register form label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   background-color: #4CAF50;
   color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
   width: 310px;
   height: 50px;
   border: 1px solid #dee0e4;
   margin-bottom: 20px;
   padding: 0 15px;
}
.register form input[id="btn"] {
   width: 100%;
   padding: 15px;
   margin-top: 20px;
   background-color: #4CAF50;
   border: 0;
   cursor: pointer;
   font-weight: bold;
   color: #ffffff;
   transition: background-color 0.2s;
}
.navtop {
	background-color: #1a1a1a;;
	height: 70px;
	width: 100%;
	box-shadow: 0px 0px 10px #1a1a1a;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #e9b545fa;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
   transition: 0.15s ease-in;
}

body.loggedin {
	background-color: #f3f4f7;
}

.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}

.content form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 20px;
}

.content form input[id="btn"] {
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

body {
    background-color: #839ec4;
   /* background-image: url("..plant_back.jpeg"); */
}

.blog-content {
	width: 1000px;
	margin: 0 auto;
}
.blog-content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
    font-size: 32px;
}

.blog-content label {
    justify-content: center;
    align-items: center;
    color: #090909;
    font-size: 20px;
}

.blog-content form {
   display: grid;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 20px;
}

.blog-content form input[type="text"], .blog-content form input[type="date"] {
   width: 410px;
   height: 50px;
   border: 1px solid #dee0e4;
   margin-bottom: 20px;
   padding: 0 15px;
}

.blog-content form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

table {
   border: 1px solid rgb(192, 9, 9);
 }
 
 th, td {
   border: 1px solid rgb(226, 6, 6);
 }